@font-face {
    font-family: cascadia;
    src: url(/dia5/font/paradroidmono-bold.ttf);

}
@font-face {
    font-family: tipo2;
    src: url(/dia5/font/ParadroidMono-Light.ttf);
}

@font-face {
    font-family: cascadia;
    src: url(/dia5/font/Cascadia.ttf);
}

body{
    width: 1920px;
    height: 7000px;
}




.rectan1{

    position: relative;
    width: 1920px;
    height: 1080px;
    background-color: black;
    justify-content: center;
}

.Foods{
    position: absolute;
    top: 15px;
    width: 100px;
    height: 100px;
    color: orange;
    text-align: center;
    font-family: cascadia;
    font-size: 40px;
    left: 50px;
}

.Home{
    position: absolute;
    top: 15px;
    width: 100px;
    height: 100px;
    color: white;
    text-align: center;
    font-family: cascadia;
    font-size: 40px;
    left: 1110px;
}

.About{
    position: absolute;
    top: 15px;
    width: 100px;
    height: 100px;
    color: white;
    text-align: center;
    font-family: cascadia ;
    font-size: 40px;
    left: 1260px;
}

.Menu{
    position: absolute;
    top: 15px;
    width: 100px;
    height: 100px;
    color: white;
    text-align: center;
    font-family:cascadia ;
    font-size: 40px;
    left: 1410px;
}

.Services{
    position: absolute;
    top: 15px;
    width: 100px;
    height: 100px;
    color: white;
    text-align: center;
    font-family:cascadia ;
    font-size: 40px;
    left: 1527.5px;
}

.full{
    position: absolute;
    top: 200px;
    width: 900px;
    height: 400px;
    color: orange;
    font-family:cascadia ;
    font-size: 100px;
    left: 180px;

}

.Contac{
    position: absolute;
    top: 15px;
    width: 100px;
    height: 100px;
    color: white;
    text-align: center;
    font-family: cascadia;
    font-size: 40px;
    left: 1740px;
}

.food2{
    position: absolute;
    top: 410px;
    width: 900px;
    height: 400px;
    color: white;
    text-align: left;
    font-family: cascadia;
    font-size: 40px;
    left: 180px; 
}

.cuadrito{
    position: absolute;
    top: 580px;
    width: 200px;
    height: 50px;
    background-color: rgb(228, 141, 10);
    left: 180px; 
}

.today{
    position: absolute;
    font-size: 33px;
    top: -30px;
    color: white;
    left: 7px;
}

.fotoHome{
    position: absolute;
    top: 210px;
    left: 1100px;
    width: 570px;
}


.rectan2{
    position: relative;
    width: 1920px;
    height: 1080px;
    background-color:rgb(0, 0, 0);
    justify-content: center;
}


.aboutimg{
    position: absolute;
    top: 300px;
    width: 570px;
    left: 200px;
    font-family: cascadia;
    font-size:30px ;    
}

.about{
    position: absolute;
    top: 300px;
    width: 300px;
    height: 300px;
    left: 1000px;
    font-family: cascadia;
    font-size:30px ;
    color: orange;
}


.weSpeak{
    position: absolute;
    top: 310px;
    width: 816px;
    height: 300px;
    left: 1000px;
    font-family: cascadia;
    color: white;
    font-size: 80px;

}

.itIs{
    position: absolute;
    top: 550px;
    width: 816px;
    height: 300px;
    left: 1000px;
    font-family: cascadia;
    font-size:30px ;
    color:white;
}


.cuadrito2{
    position: absolute;
    width: 200px;
    height: 50px;
    background-color: orange;
    top: 700px;
    left: 1000px;
}


.learn{
    position: absolute;
    font-size: 30px;
    top: -25px;
    left: 17px;
    color: white;
}

.rectan3{
    position: relative;
    width: 1920px;
    height: 1080px;
    background-color:rgb(0, 0, 0);
    justify-content: center;
}

.foodMenu{
    position: absolute;
    top: 100px;
    width: 816px;
    height: 300px;
    left: 900px;
    font-family: cascadia;
    font-size:40px ;
    color:orange;
}


.fresh{
    position: absolute;
    top: 130px;
    width: 1316px;
    height: 300px;
    left: 400px;
    font-family: cascadia;
    font-size:80px ;
    color:white;

}



.cuadro1{
    position: absolute;
    top: 410px;
    width: 480px;
    height: 480px;
    left: 100px;
   
}

.esquina{
    position: absolute;
    top: 412px;
    left: 480px;
    width: 100px;
}

.text{
    position: absolute;
    color:black;
    top: 750px;
    width: 150px;
    height: 50px;
    left: 280px;
    font-family: cascadia;

}

.text1{
    position: absolute;
    color:black;
    top: 770px;
    width: 150px;
    height: 50px;
    left: 300px;
    font-family: cascadia;

}

.text2{
    position: absolute;
    color:orange;
    top: 790px;
    width: 150px;
    height: 50px;
    left: 320px;
    font-family: cascadia;
}


.cuadro2{
    position: absolute;
    top: 410px;
    width: 480px;
    height: 480px;
    left: 720px;
   
}

.esquina2{
    position: absolute;
    top: 412px;
    left: 1100px;
    width: 100px;
   
}

.tet{
    position: absolute;
    color:black;
    top: 750px;
    width: 250px;
    height: 50px;
    left: 870px;
    font-family: cascadia;

}

.t1{
    position: absolute;
    color:black;
    top: 770px;
    width: 150px;
    height: 400px;
    left: 910px;
    font-family: cascadia;

}

.t2{
    position: absolute;
    color:orange;
    top: 790px;
    width: 150px;
    height: 50px;
    left: 930px;
    font-family: cascadia;
}

.cuadro3{
    position: absolute;
    top: 410px;
    width: 480px;
    height: 480px;
    left: 1320px;
   
}

.esquina3{
    position: absolute;
    top: 412px;
    left: 1700px;
    width: 100px;
   
}

.textito{
    position: absolute;
    color:black;
    top: 750px;
    width: 150px;
    height: 50px;
    left: 1480px;
    font-family: cascadia;
}

.textito1{
    position: absolute;
    color:black;
    top: 770px;
    width: 150px;
    height: 50px;
    left: 1510px;
    font-family: cascadia;
}

.textito2{
    position: absolute;
    color:orange;
    top: 790px;
    width: 150px;
    height: 50px;
    left: 1530px;
    font-family: cascadia;
}





.hamburguesa{
    position: absolute;
    top: 520px;
    width:200px;
    left: 240px;

}


.hamburguesa2{
    position: absolute;
    top: 520px;
    width:200px;
    left: 850px;

}

.pollo{
    position: absolute;
    top: 520px;
    width:200px;
    left: 1450px;

}


.rectan4{
    position: relative;
    width: 1920px;
    height: 1080px;
    background-color:rgb(0, 0, 0);
    justify-content: center;
}

.ser{
    position: absolute;
    font-size: 40px;
    color: orange;
    left: 840px;
    top: 30px;

}

.weProvide{
    position: absolute;
    font-size: 80px;
    color: white;
    left: 450px;
    top: 60px;
}

.titulo1{
    position: absolute;
    font-size: 40px;
    color: orange;
    left: 310px;
    top: 700px;
}

.titulo2{
    position: absolute;
    font-size: 40px;
    color: orange;
    left: 860px;
    top: 700px;
}

.titulo3{
    position: absolute;
    font-size: 40px;
    color: orange;
    left: 1470px;
    top: 700px;
}


.bla{
    position: absolute;
    font-size: 38px;
    color: white;
    top: 800px;
    left: 130px;
    text-align: center
}

.bla1{
    position: absolute;
    font-size: 38px;
    color: white;
    top: 800px;
    left: 740px;
    text-align: center
}

.bla2{
    position: absolute;
    font-size: 38px;
    color: white;
    top: 800px;
    left: 1330px;
    text-align: center
}



.imagen1{
    position: absolute;
    width: 400px;
    top: 300px;
    left: 170px;
}

.imagen2{
    position: absolute;
    width: 400px;
    left: 750px;
    top: 300px;
}

.imagen3{
    position: absolute;
    width: 400px;
    left: 1350px;
    top: 300px;
}

.rectan5{
    position: relative;
    width: 1920px;
    height: 780px;
    background-color:rgb(0, 0, 0);
    justify-content: center;
}

.rectanguloGrande{
    position: absolute;
    width: 1700px;
    height: 550px;
    left: 100px;
    top: 100px;
}

.weMake{
    position: absolute;
    font-size: 80px;
    color: black;
    width: 1000px;
    top: 150px;
    left: 440px;
    text-align: center;
}

.cajitaR5{
    position:absolute;
    background-color: orange;
    width: 230px;
    height: 50px;
    top: 450px;
    left: 830px;
}

.learn2{
    position: absolute;
    font-size: 30px;
    color: white;
    top: 5px;
    left: 45px;
}

.rectan6{
    position: relative;
    width: 1920px;
    height: 540px;
    background-color:rgb(0, 0, 0);
    justify-content: center;
}

.titul{
    position: absolute;
    font-size: 30px;
    left: 350px;
    top: 100px;
    color: white;
}

.titul1{
    position: absolute;
    font-size: 30px;
    left: 650px;
    top: 100px;
    color: white;
}

.titul2{
    position: absolute;
    font-size: 30px;
    left: 1000px;
    top: 100px;
    color: white;
}

.titul3{
    position: absolute;
    font-size: 30px;
    left: 1380px;
    top: 100px;
    color: white;
}

.linea{
    position: absolute;
    background-color: black;
}

.linea1{
    position: absolute;
    background-color: black;
}


.linea2{
    position: absolute;
}


.linea3{
    position: absolute;
}


